  
* {
  box-sizing:border-box;
  background-color: black;
  color: white;
}

#all-images img{
display: inline-block;
width: 260px;
height: 260px;
margin:30px;
margin-right: 100px;
}

h5, h4, ul, li{
    display:inline-block;
   text-align: center;
}

h1{

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 75px;
    color:hotpink;
    text-align: center;
}

h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    color:white;
    text-align: center;
}